body {
    padding: 0;
    margin: 0;
}
h3 {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
}
.primernav {
    padding: 0;
    margin: 0;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.primernav > img {
    width: 200px;
    height: auto;
    cursor: pointer;
}
.primernav > button {
    border: none;
    cursor: pointer; 
    display: flex; 
    height: 50px; 
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    font-size: 1.2em;
    background-color: white;
}
.primernav > button:hover {
    background-color: rgb(233, 227, 227);
    color: black;
}
.primernav > label {
    border: none;
    cursor: pointer;
    display: flex; 
    height: 50px; 
    border-radius: 5px;
    padding: 0px;
    align-items: center;
    font-size: 1.2em;
    color: black;
}
.primernav > label:hover {
    transform: scale(1.1);
}    
.primernav > input {
    border: none;
    cursor: pointer; 
    display: flex; 
    height: 50px; 
    width: auto;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid gainsboro;
}
.primernav > input:hover {
    background-color: rgb(233, 227, 227);
}
.primernav > ul {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    padding-right: 40px;
    gap: 40px;
    list-style: none;
    font-size: 1.2em;
    outline-style: none;
}

ul > li > a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}
ul > li > a:hover {
    text-decoration: underline;
    text-decoration-color: orangered;
}
.segundonav {
    padding: 0;
    margin: 0;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 1.2em; 
    list-style: none; 
    justify-content: center;
    border: 2px solid gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
.segundonav > li > a {
    text-decoration: none;
    color: black;
}
.segundonav > li > a {
    text-decoration: none;
    color: black;
}
.segundonav > li > a:hover {
    text-decoration: underline;
    text-decoration-color: orangered;
}
.segundonav li:first-child a {
    color: orangered;
}
.segundonav li:first-child a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
.segundonav li:last-child a {
    color: orangered;
}
.segundonav li:last-child a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

header > p {
    text-align: cent;
    margin: 0;
    width: 100%;
    height: 50px;
    border: 1px solid gainsboro;
    padding-left: 50px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;

}
main > img {
    width: 100%;
    cursor: pointer;
}
.botones  {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    width: auto;
    height: auto;
    margin: 0;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
}
.botones li {
    text-align: center;
    border: 2px solid black;
    height: 200px;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    border-radius: 7px;
    cursor: pointer;
}
.botones button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 100px;
}
.botones img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.botones li:hover{
    transform: scale(1.1);
}
.products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    background-color: black;
    
}
article.articulo{
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.articulo:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.articulo > img {
    padding: 40px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
}
.blackfriday {
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.regalo {
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(247, 115, 7, 0.973);
}
.Price {
    font-size: 2em;
    font-weight: bold;
}
.Price:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
.rating:hover {
    text-decoration: underline;
}
article > h2 {
    padding: 10px;
}
.info {
    padding: 20px;
}
.sorteo {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 550px;
    width: auto;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    background-color: rgb(40, 103, 230);
    align-items: center; 
    text-align: center;
}
.participa {
    color: white;
    text-align: start;
    margin: 0;
    
}
.formulario {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
.participa > h2{
    font-size: 3.5em;
}
.participa > p {
    font-size: 1.2em;
}
.sorteos {
    font-size: 1.7em;
    color: white;
}
.valorpremio {
    font-size: 2.5em;
}
.sorteos >h2 {
    color: transparent; 
    -webkit-text-stroke: 2px rgb(203, 200, 200);
    margin: 0;
}
.sorteos h2.especial {
    color: orange;
    -webkit-text-stroke: 0px;
    margin: 0;
}
.formulario form > * {
    padding: 20px;
}
.formulario  h2 {
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 20px;
}
.valorado {
    margin: 0;
}
.sorteos h2.valorpremio{
    -webkit-text-stroke: 0px;
    color: white;
}
form > button {
    background-color: orange;
    cursor: pointer;
}
form > button:hover {
    transform: scale(1.2);
}
footer {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}


